name: CI
on:
  workflow_dispatch:
    inputs:
      runs-on:
        description: 'machine type'
        required: true
        default: 'ubuntu-latest'
        type: choice
        options:
          - ubuntu-latest
          - ubuntu-24.04
          - ubuntu-22.04
          - ubuntu-24.04-arm
          - ubuntu-22.04-arm
          - ubuntu-slim
          - windows-latest
          - windows-2025
          - windows-2022
          - windows-2019
          - windows-11-arm
          - macos-latest
          - macos-26
          - macos-15-intel
          - macos-15
          - macos-14
          - macos-13
      nixpkgs:
        description: 'nixpkgs channel'
        default: 'nixpkgs-unstable'
        type: string

jobs:
  build:
    runs-on: ${{ inputs.runs-on }}
    steps:
    - run: whoami
    - uses: cachix/install-nix-action@v31
    - run: nix-channel --list
    - run: nix-channel --add https://channels.nixos.org/${{inputs.nixpkgs}} nixpkgs
    - run: nix-channel --update
    - run: nix-env -iA nixpkgs.attic-client
    - name: Setup upterm session
      uses: owenthereal/action-upterm@v1
      with:
        limit-access-to-actor: true
